.container {
    max-width: 90%;
}

.main-container {
    width: 90%;
    max-width: 90%;
}

.main {
    width: 80%;
    max-width: 80%;
}

.article {
    width: 90%;
    max-width: 90%;
}

section#pace div.container{
max-width:90%;
}

.article-container {
  max-width: 100%;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto; }
  
.docs-article-container {
  max-width: 100%; }